In [16]:
class Person():
    def __init__(self, salary, age):
        self.salary = salary
        self.age = age
        
    def get_monthly_salary(self):
        return self.salary / 12
    
    def get_age(self):
        return self.age

In [18]:
person = Person(27000, 25)

In [23]:
person.get_monthly_salary()

2666.6666666666665

In [21]:
person.salary = 32000

In [24]:
from abc import ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def make_sound(self):
        pass

In [27]:
import pandas as pd

In [30]:
df = pd.DataFrame({1: ["Victor", "Francois", "Angel"]})

In [ ]:
df[1].apply(lambda x: x[0])

df.get_first_char()

0    V
1    F
2    A
Name: 1, dtype: object

In [42]:
class BetterDataFrame(pd.DataFrame):
    def get_first_char(self):
        return 1

In [44]:
df = BetterDataFrame({1: ["Victor", "Francois", "Angel"]})
df

          1
0    Victor
1  Francois
2     Angel

In [47]:
from abc import ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def make_sound(self):
        pass

class Dog(Animal):
    def make_sound(self):
        print("Woof!")

class Cat(Animal):
    def make_sound(self):
        print("Meow!")

dog = Dog()
dog.make_sound()  # Output: Woof!

cat = Cat()
cat.make_sound()  # Output: Meow!

Woof!
Meow!

In [ ]:
class Shape:
    def __init__(self, color):
        self.color = color

    def display_color(self):
        print("Color:", self.color)

class Circle(Shape):
    def __init__(self, color, radius):
        super().__init__(color)
        self.radius = radius

    def display_area(self):
        area = 3.14 * self.radius ** 2
        print("Area:", area)

In [60]:
class Shape:
    def __init__(self, color):
        self.color = color

    def display_color(self):
        print("Color:", self.color)

class Circle(Shape):
    def __init__(self, color, radius):
        super().__init__(color)
        self.radius = radius

    def display_area(self):
        area = 3.14 * self.radius ** 2
        print("Area:", area)

In [62]:
circle = Circle("red", 5)

In [63]:
circle.display_color()

Color: red

In [64]:

class Garage():
    # Attribute initialization - we use a special method: __init__()
    def __init__(self):
        self.employes = 0
    
    # Declaration/definition of methods
    def recrute_employees(self, number_employees):
        self.employes += number_employees
        
    def dismissed_employees(self, number_employees):
        self.employes -= number_employees
        
    def display_information(self):
        print("Employees: ", self.employes)

In [65]:
garage_1 = Garage()

In [66]:
garage_1.employes

0

In [67]:
garage_1.recrute_employees(3)

In [68]:
garage_1.employes

3

In [70]:
df = pd.DataFrame({"name": ["Victor", "Samantha", "Francois"], "age" : [12, 25, 37]})

In [71]:
df

       name  age
0    Victor   12
1  Samantha   25
2  Francois   37

In [72]:
df.drop("age", axis=1, inplace=True)

In [73]:
df

       name
0    Victor
1  Samantha
2  Francois

In [75]:
garage_1.dismissed_employees(2)

In [77]:
garage_1.display_information()

Employees:  1

In [89]:
# We re-declare the Garage class by changing the redundant_employees method

class Garage():
    # Attribute initialization - a special method is used: __init__()
    # Here, all instances of the Garage class will be initialized to zero
    def __init__(self):
        self.employees = 0
    
    # Declaration/definition of methods
    def recrute_employees(self, number_employees):
        self.employees += number_employees
    
    def dismissed_employees(self, number_employees):
        if number_employees > self.employees:
            raise ValueError("There are currently {} employees in the garage. You can't fire {} of them. You are firing more people than available"
                            .format(self.employees, number_employees))
        else:
            self.employees -= number_employees
        
    def display_information(self):
        print("Employees : ", self.employees)

In [96]:
n_1 = 1
"There are currently {} employees in the garage. You can't fire {} of them. You are firing more people than {} available".format(n_1, 2, n_1)

"There are currently 1 employees in the garage. You can't fire 2 of them. You are firing more people than 1 available"

In [97]:
f"There are currently {n_1} employees in the garage. You can't fire {2} of them. You are firing more people than {n_1} available"

"There are currently 1 employees in the garage. You can't fire 2 of them. You are firing more people than 1 available"

In [90]:
garage_1 = Garage()

In [91]:
garage_1.recrute_employees(4)

In [92]:
garage_1.display_information()

Employees :  4

In [93]:
garage_1.dismissed_employees(5)

ValueError: There are currently 4 employees in the garage. You can't fire 5 of them. You are firing more people than available